@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar-track {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-thumb {
    width: 4px;
    border-radius: 2px;
    background-color: theme('colors.primary');
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  * {
    box-sizing: border-box;
  }
  html {
    line-height: 1.5;
    font-size: 16px;
  }
  body {
    font-family: theme('fontFamily.mono');
    min-height: 100vh;
    background-color: theme('colors.primary');
  }
}

@layer components {
  .side-bar ul {
    height: 100%;
  }
  .side-bar .ant-layout-sider-trigger {
    background-color: theme('colors.accent');
  }
}
